* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
   background: linear-gradient(150deg, #71b7e6, #9b59b6);
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
  
form {
    background-color: #e8e3e3;
  /*   width: 100%; */
    width: 500px;
    max-width: 600px;
    padding: 15px;
    padding-left: 25px;
    border-radius: 10px;
}
  
label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}
  
h1, p, h3 {
    text-align: center;
}
  
p, h3 {
    margin-bottom: 20px;
    font-size: 18px;
}
  
input, select {
    height: 30px;
    width: 80%;
    outline: none;
    border: 1px solid #777;
    padding-left: 15px;
    margin-bottom: 5px;
}
  
input[type="color"] {
    width: 40px;
    padding: 0;
    display: block;
    margin-bottom: 8px;
}
  
button {
    width: 40%;
    background: linear-gradient(150deg, #71b7e6, #9b59b6);
    border: none;
    outline: none;
    border-radius: 8px;
    display: block;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    text-decoration: none;
    color: #ffff;
  }
  
span {
    font-size: 100px;
    display: inline-block;
    margin-bottom: 18px;
}
  
.hey {
    font-size: 25px;
}

.hey span, h2 {
    font-size: 50px;
}

input[type="checkbox"] {
    height: 15px;
    width: 15px;
}
  
.checkbox {
  display: inline-block;
}
  
a.return {
  background: linear-gradient(150deg, #71b7e6, #9b59b6);
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  margin-top: 10px;
  display: block;
  width: 40%;
}